#game-board {
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  gap: 20px;
}

.disk {
  height: 35px;
  width: 100px;
  border-radius: 25px;
  border: 1px solid white;
}

.tower {
  background-color: #333;
  width: 200px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.transparent {
  background-color: transparent;
}

.five {
  width: 90%;
  background-color: blue;
}

.four {
  width: 70%;
  background-color: green;
}

.three {
  width: 50%;
  background-color: yellow;
}

.two {
  width: 30%;
  background-color: orange;
}

.one {
  width: 10%;
  background-color: red;
}

.diskNumber {
  text-align: center;
}
